.idea/
venv/
static/logs/
static/offline/
__pycache__/
_vizdoom.ini
#lxmert_gqaval_reasbias.pickle
lxmert_gqaval_reasbias.pickle.json
model/images/
model/gqa_testdev_obj36.zip
model/gqa_testdev_obj36/
model/*.pth
tkinter
*.pth